ul.nav-ul li a {
    color: #fff !important;
    font-style: 18
}

      
ul.nav-ul li {
    margin-right: 25px;
    padding-right: 25px;
    border-right: 1px solid #fff;
}

ul li:last-child{
    border: none
}



